@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Abel:100,200,300,400,500,600,700|Crimson Text:100,200,300,400,500,600,700|Baloo:100,200,300,400,500,600,700');

/*--------------------------------------------------------------------------Header--*/

/*-------------------------------------------------Title--*/

.hdr-title-color {
    font-family: "Exo", sans-serif;
    font-size: 36px;
    color: #07711f;
    background-color: #dae6dd;
    text-align: right;
    width: 100%;
    min-height: 60px;
    margin: 0;
    padding: 8px 16px 8px 0;
    /*padding-right: 5px;*/
    /*padding-top: 5px;*/
    text-decoration: none;
}

.header-background {
    background-color: #dae6dd;
    /*padding: 5px 5px 5px 5px;*/
}

.form-inline {
    align-items: left;
}

/*-----------------------------------------------Nav Bar--*/

.nav-background {
    margin-top: 26px;
    /*min-height: 100px;*/
    position: fixed;
}

.nav-font-color a:hover {
    color: #e0960b;
}

.navbar i:hover {
    color: #07711f;
}

.navbar i {
    color: #dae6dd;
}

.navbar {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}

/*#dae6dd*/

.navbar-header {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #07711f;
    border: 1px solid #07711f;
    border-radius: .15rem;
}

.navbar-header:hover {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #07711f;
    border-radius: .15rem;
}

.nav-header {
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #07711f;
}

.navbar-nav a:hover {
    color: #e0960b;
    text-decoration: none;
}

.active>.nav-header {
    color: #e0960b;
}

/*--------------------------------------------------------------------------Footer--*/

/*-----------------------------------Company Information--*/

.footer-text {
    text-align: center;
    background-color: #dae6dd;
    /*margin-top: 25px;*/
    padding-top: 15px;
}

.footer-text i {
    color: #07711f;
    font-size: 25px;
    /*margin-top: 15px;*/
    /*padding-top: 20px;*/
}

.footer-text i:hover {
    color: #e0960b;
}

.list-inline {
    margin-bottom: 5px;
}

/*------------------------------------------Social Media--*/

.social-links i:hover {
    color: #e0960b;
}

.social-link {
    margin-bottom: 0;
}

.footer-caption {
    font-family: "Baloo", sans-serif;
}

/*---------------------Keep footer as bottom as possible--*/

/*html, body {*/

/*    height: 100%;*/

/*}*/

/*#container {*/

/*    min-height: 80%*/

/*}*/

/*#main {*/

/*    overflow: auto;*/

/*    padding-bottom: 90px*/

/*}*/

/*#footer {*/

/*    position: relative;*/

/*    height: 90px;*/

/*    margin-top: -90px;*/

/*    clear: both;*/

/*}*/

/*-------------------------------------------------------------------------Product--*/

/*------------------------------------------Font Styling--*/

.section-center {
    font-family: "Abel", sans-serif;
    text-align: center;
    padding-top: 25px;
}

/*-----------------------------------------Modal Styling--*/

.modal-body {
    font-family: "Abel", sans-serif;
    font-size: 15px;
}

.modal-body i {
    font-size: 30px;
}

.modal-header h5 {
    font-family: "Baloo", sans-serif;
    font-size: 20px;
}

.modal-body a {
    color: #07711f;
}

.modal-body a:hover {
    color: #e0960b;
}

.modal-body span {
    text-decoration: underline;
    
}

/*----------------------------------Click to Buy Styling--*/

.click-buy {
    font-family: "Exo", sans-serif;
    color: #07711f;
    font-size: 20px;
    text-transform: none;
}

/*----------------------------------------Product Button--*/

.img-product {
    padding: .25rem;
    background-color: #fff;
    border: .5px solid #07711f;
    border-radius: .75rem;
    max-width: 100%;
    height: auto;
}

/*-------------------------------------------------------------------------Contact--*/

/*----------------------------------Contact Form Styling--*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
}

.contact-caption {
    font-family: "Baloo", sans-serif;
    /*font-weight: 300;*/
}

/*------------------------------------------Form Styling--*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.form-control {
    margin-bottom: 10px;
}

.form-row {
    margin-bottom: 25px;
}

.form-contact {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #07711f;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}

textarea.form-contact {
    height: auto;
}

/*----------------------------------------Button Styling--*/

.btn-contact:hover {
    background-color: #07711f;
    color: #e0960b;
    text-decoration: bold;
    font-weight: 400;
}

.btn-contact {
    display: inline-block;
    font-family: "Baloo", sans-serif;
    font-weight: 400;
    color: #07711f;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #07711f;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*---------------------------------------------------------------------------About--*/

.about-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
}

.about-caption {
    font-family: "Baloo", sans-serif;
    margin-top: 20px;
    /*font-weight: 300;*/
}

/*-------------------------------------------------------Delivery, Return & Refund--*/

.delretref-heading {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.delretref-caption {
    font-family: "Baloo", sans-serif;
    margin-top: 20px;
    text-align: center;
    /*font-weight: 300;*/
}

.list-group-delivery {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid #07711f;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group-delivery-last {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid #07711f;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0;
}

/*-------------------------------------------------------------------------General--*/

.uppercase {
    text-transform: uppercase;
}

/*--------------------------------------------Background--*/

.main-background {
    /*height: 100vh;*/

    background: url(../images/MST_Background_BW.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    
    position: relative;
}

/*---------------------------------------------------------------------Media Query--*/

@media (max-width: 920px) {
    .center-form {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 90%;
    }
}